<div ng-controller="LinksController" id='container'>
<div class="linksContainer">
  <span class="filterLinksInput">Filter links: </span><input class="filterLinksInput" ng-model="search">
      <div class="singleLink" ng-repeat="link in data.links | filter:search | orderBy:'-visits'">
        <div><div class="linkTitle">{{ link.title }}</div><span class="viewCount">views: {{ link.visits }}</span></div>
        <div><a href={{link.longURL}}>{{link.longURL}}</a></div>
      </div>
  </div>
</div>


<!-- 127.0.01:3000/code:57wfJ -->
